html {
  font-size: 14px !important;
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.75;
  color: #858282 !important;
  background: #fff;
}

.primaryBGColor {
  color: #f8bb10;
  background: #f8bb10;
}

.secondaryBGColor {
  color: #779ffb;
  background: #779ffb;
}

.primaryColor {
  color: #f8bb10;
}

.secondaryColor {
  color: #779ffb;
}

/* ---------------------------------------------- */
/* All Section divider styles */
/* ---------------------------------------------- */

.o-header {
  background-color: #f8f8f8;
  padding: 1.75rem;
}

.o-header_title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.o-content {
  padding: 1.75rem;
}

@media (max-width: 760px) {
  .o-content {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: 760px) {
  .object-container {
    display: flex;
  }

  .o-header {
    width: 30%;
    padding: 3.15rem 3.5rem 1.4rem;
    text-align: right;
  }

  .o-content {
    width: 70%;
    padding: 3.15rem 3.5rem 1.4rem;
  }
}

@media (min-width: 1024px) {}

/* ---------------------------------------------- */
/* Timeline section styles */
/* ---------------------------------------------- */

.timeline {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: calc(1rem - 2px);
  padding-left: 25px;
  position: relative;
  border-color: #ececec;
}

.timeline-endPoint {
  height: 1px;
  width: 16px;
  position: absolute;
  left: -9px;
  bottom: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ececec;
}

.timeline_point {
  box-shadow: 0 0 0 6px #fff;
  height: 10px;
  width: 10px;
  position: absolute;
  left: -31px;
  top: 3px;
  border-radius: 50%;
}

.o-header_description .timeline_point {
  position: relative;
  left: auto;
  top: auto;
  display: inline-block;
  margin-right: 5px;
  box-shadow: 0 0 0 2px #fcfcfc !important;
}

.timeline_item {
  position: relative;
}

.timeline-content {
  padding-bottom: 1.75rem;
}

.timeline-grid {
  display: flex;
  flex-flow: row wrap;
}

.timeline_duration {
  font-size: 0.7rem;
  opacity: 0.6;
}

.timeline_heading {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.timeline_subHeading {
  font-size: 0.8rem;
  font-weight: 500;
  color: #727272;
}

.timeline_location {
  font-size: 0.7rem;
  opacity: 0.6;
}

.timeline-grid_right {
  width: 100%;
}

.timeline-grid_left {
  width: 100%;
}

@media (min-width: 760px) {
  .timeline-grid_left {
    width: calc(99.999999% * 0.41667);
  }

  .timeline-grid_right {
    width: calc(99.999999% * 0.58333);
  }
}

/* ---------------------------------------------- */
/* Other styles */
/* ---------------------------------------------- */

a,
button,
a .fa,
.t-link-container .t-link-container__item,
.t-link-container .t-link-container__item--blended {
  transition: all 0.15s linear;
}

a,
.t-link-container .t-link-container__item,
.t-link-container:hover .t-link-container__item--blended {
  color: #f8bb10;
}

/* Hover Links */
a:hover,
a:focus,
a:active,
.t-link-container:hover .t-link-container__item {
  color: #e0a707;
}

a:hover .fab {
  color: #779ffb;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.o-footer_divider {
  margin-bottom: 4rem;
}

.o-footer_firstWord {
  font-weight: 300;
}

.o-footer_label {
  font-size: 1rem;
}

.o-header_top {
  margin-bottom: 1.75rem;
}

.o-header_top_description {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  text-transform: none;
}

.o-footer_bottom {
  position: relative;
}

.o-footer_socialButtonGroup {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.o-footer_socialButtonGroup li {
  margin-right: 6px;
}

.o-footer_socialButton {
  border: 1px solid;
  padding: 6px;
  border-radius: 2px;
  background: #ededed;
  border-color: #ededed;
  height: 33px;
  width: 33px;
  font-size: 1.2rem;
}

.o-footer_socialButton .fab {
  color: #c6c6c6;
}

.o-footer_col4 {
  width: 100%;
  padding-bottom: 1rem;
  text-align: center;
}

@media (min-width: 760px) {
  .o-footer_col4 {
    width: calc(99.999999% * 0.33);
    text-align: left;
  }
}